<section class="introduction">
  <div class="introduction__container">
    <p class="introduction__mission">
      {{ mission }}
    </p>
    {% include 'components/button/Button.twig' with {'title': cta, 'href': cta_link } only %}
  </div>
</section>
