<footer class="bg-grey-darkest border-t-2 border-yellow-dark p-3">
  <div class="container mx-auto flex justify-between items-center">
    <span class="text-white text-lg">&copy; {{ year }} {{ site.name }}</span>
    <span class="text-white text-lg">Valhalla is licensed under the <a class="text-yellow-dark no-underline" href="https://github.com/mtuopensource/Valhalla/blob/master/LICENSE">GNU GPLv2</a></span>
  </div>
</footer>