<footer class="footer">
  <div class="footer__container">
    <span>&copy; {{ year }} {{ site.name }}</span>
    <span>Valhalla is licensed under the <a href="https://github.com/mtuopensource/Valhalla/blob/master/LICENSE">GNU GPLv2</a></span>
  </div>
</footer>
