<section class="hero">
  <img src="{{ image }}" alt="{{ image }}" class="hero__image">
  <div class="hero__overlay">
    <div class="hero__container">
      <blockquote class="quote">
        <em class="quote__text">“{{ quote }}”</em>
        <span class="quote__author">&mdash; {{ author }}</span>
      </blockquote>
    </div>
  </div>
</section>
