<section id="hero" class="relative bg-black">
  <img src="{{ image }}" alt="{{ image }}" class="opacity-25 w-full h-128 object-fit-cover">
  <div class="absolute w-full h-full pin-l pin-t">
    <div class="container h-full mx-auto flex items-center justify-center text-white">
      <blockquote class="max-w-lg w-full text-xl px-4">
        <em class="text-3xl leading-normal">“{{ quote }}”</em>
        <span class="block mt-4 text-right">&mdash; {{ author }}</span>
      </blockquote>
    </div>
  </div>
</section>