<a href="{{ href }}" class="text-center text-lg hover:bg-transparent bg-yellow-dark hover:text-yellow-dark font-semibold text-white py-2 px-4 border hover:border-yellow-dark no-underline">
  {{ title }}
</a>
